header {
  display: flex;
  justify-content: space-between;
  height: $heighthFooter;
  background-color: red;

  .logo {
    background-color: $mainColor;
  }

  .main-nav {

  .menu-list {
    @include listInline;

    li {
      padding: 0 20px;

      a {
        color: $mainColor;
      }
    }
  }
  }

}
