header {
  background-color: $bgHeader;
  height: $heightHeader;
  line-height: 50px;

  .nav-bar {
    height: 100%;

    &-top ul {
      @include listInline;
      justify-content: flex-end;

      & a {
        @include aNone;

        &:hover {
          text-decoration: underline;
          color: $underlineColor;
        }
      }

      & i {
        color: $iconsColor;
      }
    }
    &-bottom ul {
      @include listInline;
      justify-content: space-between;
      align-items: center;

      & a {
        @include aNone;
        color: $underlineColor;
      }
    }
  }
}
