.hero {
  @include bgImg;
  background-image: url("../img/hero.jpg");
  height: 450px;

  &-text {
    @include flexEnd;
    height: 90%;

    &-details {
      width: 40%;
      color: $ColorWhite;
      line-height: 40px;

      & ul {
        list-style: none;
      }

      & .btn {
        display: flex,
      }

      & a {
        line-height: 20px;
        @extend %btn;
        @include aNone;
        color: $ColorWhite;
      }

      & i {
      padding: 4px 0px 0px 12px;
      border-left: 1px solid #fff;
      height: 100%;
      font-size: 26px;
      }
    }

    &-offer {
      width: 40%;
      background-color: #020303;
      color: $ColorWhite;
      padding: 20px;

      & .offert {
        display: flex;
        justify-content: space-between;
      }

      & > a {
        @extend %btn;
        @include aNone;
        background-color: $iconsColor;
        color: $ColorWhite;

        &:hover {
          background-color: #28ACFF;
        }
      }

      & .banner {
        margin-top: 30px;
        background-color: #E6E6E6;
        color: #2C2C2C;
      }
    }
  }

}
