main {
position: relative;
  & .main-menu {
    height: 75px;
    background-color: #E6E6E6;
    line-height: 75px;
    position: sticky;

    & ul {
      @include listInline;
      justify-content: space-between;
      align-content: center;

      & a {
        text-decoration: none;
        color: #626262;
      }
    }
  }

  // sections

  section .container img {
    width: 100%;
  }

  & #introduction {
    background-image: url("../img/intro.jpg");
    @include bgImg;
    @include sections;
    color: $ColorWhite;
  }

  & #example {

  }

  & #parallax {
    background-image: url("../img/image-bg-02.jpg");
    background-attachment: fixed;
  }

  & #tools {
    background-color: #222222;
  }
}
