@mixin listInline {
  display: flex;
  list-style: none;
}

@mixin flexEnd {
  display: flex;
  justify-content: flex-end;
}

@mixin aNone {
  text-decoration: none;
  color: #777777;
}

@mixin bgImg {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
}
